


  
 <!--  <p>
    <%#= f.label :body,'Post Your Comment',:class => "post"%><br/>
  
  </p>
    <%# if author_signed_in? %>
   <p>
   <%#= f.hidden_field :author_id, :value => current_author.id %>
  </p>
  <%# end %>
  <center>
  
  <p> 
    <%#= f.submit 'Submit',:class =>"comment-button"%>
  </p>
 </center> -->
 <%= form_for [@article, @comment],:remote=>true do |f| %>
  
 <div class="input-group" style="padding-top: 40px; padding-bottom: 40px;">
        <div class="inputer">
             <div class="input-wrapper">
                      <span> <%= f.text_area :body,:id=>'uty' ,:class =>"form-control js-auto-size", :placeholder => "Join the discussion" %>
                      </span>
             </div>
             <% if author_signed_in? %>
                       <%= f.hidden_field :author_id, :value => current_author.id %>
              
             <% end %>
        </div><!--.inputer-->
                  <span class="input-group-btn">
              
                    <%= f.submit 'Submit',:class =>"btn btn-primary"%>
                  </span>
  </div>
 <% end %>
